# Domain for "JackSmart" Service daemon.
type jacksmart, domain;
type jacksmart_exec, exec_type, file_type;

brillo_domain(jacksmart)
allow_crash_reporter(jacksmart)

unix_socket_connect(jacksmart, dbus_daemon, dbus_daemon)
dontaudit jacksmart kernel:system module_request;


#============= adbd ==============
allow adbd kernel:system module_request;

#============= jacksmart ==============
allow jacksmart audio_device:chr_file { read write ioctl open };
allow jacksmart audio_device:dir search;
allow jacksmart init:unix_stream_socket connectto;
allow jacksmart mediaserver_service:service_manager find;
allow jacksmart mediaserver:binder call;
allow jacksmart mediaserver:binder transfer;
allow jacksmart mediaserver:fd use;
allow jacksmart proc:file getattr;
allow jacksmart proc:file open;
allow jacksmart proc:file read;
allow jacksmart property_socket:sock_file write;
allow jacksmart servicemanager:binder call;
allow jacksmart sysfs:file rw_file_perms;
allow jacksmart system_data_file:file open;
allow jacksmart system_data_file:file read;
allow jacksmart weave_service:service_manager find;
allow jacksmart weaved:binder call;
allow jacksmart weaved:binder transfer;

#============= logd ==============
allow logd property_socket:sock_file write;
allow logd init:unix_stream_socket connectto;

#============= mediaserver ==============
allow mediaserver jacksmart:binder transfer;
allow mediaserver jacksmart:binder call;

#============= servicemanager ==============
allow servicemanager jacksmart:dir search;
allow servicemanager jacksmart:file read;
allow servicemanager jacksmart:file open;
allow servicemanager jacksmart:process getattr;

#============= shell ==============
allow shell jacksmart_exec:file execute;
allow shell audio_device:dir search;
allow shell jacksmart_exec:file getattr;
allow shell kernel:system module_request;

#============= weaved ==============
allow weaved jacksmart:binder call;
allow weaved jacksmart:binder transfer;
